{% load static %}
{% block content %}
    {% include 'galery/partials/_banner.html' %}
    <section class="tags">
        <p class="tags__titulo">Busque por tags:</p>
        <ul class="tags__lista">
            {% if tags %}
                {% for tag in tags %}
                    <li class="tags__tag">
                        <a href={% url 'category_filter' tag.id %} class="btn" style="color: #C9C9C9">{{ tag.name }}</a>
                    </li>
                {% endfor %}
            {% else %}
            {% endif %}
        </ul>
    </section>
{% endblock %}