{% extends 'galery/base.html' %}
{% load  static%}
{% block content %}
    <div class="pagina-inicial">
        <main class="principal">
            {% include 'galery/partials/_side_menu.html' %}
            <section class="conteudo">
                {% include 'galery/partials/_tag_filter.html' %}
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo">Navegue pela galeria</h2>
                        <ul class="cards__lista">
                            {% if cards %}
                                {% for photo in cards %}
                                    <li class="card">
                                        <a href="{% url 'imagem' photo.id %}">
                                            <img class="card__imagem" src="{% static '' %}{{ photo.image }}" alt="foto">
                                        </a>
                                        <span class="card__tag">{{ photo.card_tag }}</span>
                                        <div class="card__info">
                                            <p class="card__titulo">{{ photo.title }}</p>
                                            <div class="card__texto">
                                                <p class="card__descricao">{{ photo.subtitle }}</p>
                                                <span>
                                                    <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% else %}
                            {% endif %}
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}